

input[type=text] {

    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.chartEntererID{
	width: 124px;
	padding: 5px 0px;
}
.patientAttributes {
	width: 42px;
	padding: 2px 0px;
}

.patientID {
	width: 124px;
	padding: 5px 0px;
}
.patientIDDOBSSN {
	width: 72px;
	padding: 5px 0px;

}
.phoneInfo {
    width: 100px;
}
#Submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 0px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;
    width: 64px;
    border-radius: 8px;
}
#Submit:hover {
	opacity: 0.8;
}
.container {
    width: 500px;
}
textarea {
    resize: none;
}
